h1 {color: rgb(247, 171, 8); font-family: "Pacifico", cursive;}
h2 {color: rgb(238, 248, 103); font-family: "Tektur", sans-serif;}
h3 {color: rgb(48, 250, 250);}
h4 {color: rgb(215, 252, 155); font-family: "Tektur", sans-serif;}
h5 {color: white;}
p {color: white; font-family: "Tektur", sans-serif;}
ul {color: white; font-family: "Tektur", sans-serif;}
ol {color: white; font-family: "Tektur", sans-serif;}

.banner {width: 98%;}
